<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>

	<div class="alert alert-danger" role="alert">
		<h3>В этой категории нет книг</h3>		
	</div>

	<% else %>
	<div class="row">
		<% @books.each do |book| %>
			<div class="col-md-3 wrap_book">
				<a href="/books/<%= book.id %>">
					<!-- <h4><%= book.title %></h4>  -->
					<%= image_tag book.book_img.url(:medium), class: "book" %>
				</a>
			</div>
			<br>	
		<% end %>
	</div>	
<% end %>	
