<%= simple_form_for([@book, @book.reviews.build]) do |f| %>

	<div class="rating-form">
		<%= f.input :rating %>		
	</div>


	<%= f.input :comment %>
	<%= f.button :submit %>
<% end %>

<!-- <script>
	$('.rating-form').raty({
			readOnly: true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		})
</script> -->